.counter{
    height: 3rem;
    display: flex;
    justify-content: center;
}

.minus, .plus{
    margin-left: 5px;
    margin-right: 5px;
    width: 3rem;
    border-radius: 7px;
}

.minus{
    background-color: #1e1e1e;
    border: 1px solid red;
}

.plus{
    background-color: #1e1e1e;
    border: 2px green solid;
    transition: 2s;
}

.plus:hover{
    border-radius: 2rem;
    transition: 2s;
}

.minus:hover{
    border-radius: 2rem;
    transition: 2s;
}

.add{
    width: 16rem;
    border-radius: 7px;
    background-color: #1e1e1e;
    border: 1px solid #0d6efd;
}