
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100vw;
    min-height: 100vh;
}

.img{
    width: 35%;
    height: 35%;
    padding-bottom: 5rem;
    border-radius: 2rem;
    border-left: 1px solid #0d6efd;
    border-right: 1px solid #0d6efd;
    border-top: 1px solid #0d6efd;
}